/*NAVBAR*/
.welcome {
    background-color: palegreen;
    position: fixed;
    z-index: 1000;
    width: 100%;
}
.welcome-text img {
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    width: 50%;
    height: 69px;
}

.welcome-text p:hover {
	color: #f4a482;
	transition: 0.5s ease-in-out;
}

.welcome input[type=text] {
    height: 24px;
    box-sizing: border-box; 
    border: 2px solid #ccc;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 12px;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 20px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    width: 20%;
    color: #656565;
}

.welcome input[type=text]:focus {
    width: 50%;
}

.search-bar {
	text-align: right;
    padding-top: 15px;
    top: 6px;
}

.search-bar i {
	position: relative;
    opacity: 0.6;
}

.search-bar button {
	border: 2px solid #ccc;
    position: relative;
    left: -6px;
    padding-bottom: 3px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.navbar {
	background-color: orange;
    z-index: 500;
    width: 100%;
    top: 45px;
    position: fixed;
}

.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: #656565;
    letter-spacing: 1px;
    font-size: 12px;
}

.dropdown-txt:hover {
	color: white;
	transition: 0.5s ease;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
    padding: 20px;
    background-color: #fff;
    z-index: 5000;
}

.categories a:hover {
    color: #ff6c00;
    text-decoration: none;
}

.nav-item {
	display: inline-block;
	padding: 10px;
    font-family: Verdana;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 12px;
    padding-top: 30px;
}

.nav-item a {
	text-decoration: none;
	color: #656565;
}

.nav-item a:hover {
	text-decoration: none;
	color: white;
	transition: 0.5s ease;
}

.categories a {
	position: relative;
	display: block;
    color: #656565;
}

.sub-categories {
	display: none;
    position: absolute;
    z-index: 5000;
    background-color: white;
    margin-left: 280px;
    margin-top: -48px;
    padding: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.categories-2 {
	display: block;
    position: relative;
}

.navbar i {
	font-size: 1.5em;
    cursor: pointer;
}

.navbar i:hover {
	color: white;
	transition: 0.5s ease;
}



/*LOGIN*/
.login {
	padding-top: 135px;
	position: relative;
    padding-bottom: 40px;
}

.login h2 {
	color: #005a43;
    font-size: 1.9em;
    font-weight: 900;
    font-family: helvetica;
}

.login b {
    font-size: 18px;
    padding-right: 10px;
}

.login .user-login {
    padding-top: 25px;
    padding-bottom: 20px;
}

.login .txt {text-align: center;}
.login .txt label {
    padding-bottom: 20px;
    color: #005a43;
}

.login input {
    padding: 12px 12px 12px 12px;
    border: 2px solid #ccc;
    border-radius: 4px;
    width: 250px;
    font-size: small;
}

.login .check-login {margin-left: -35px;}
.login .check-login input {width: auto;}
.login p {
    display: inline-block;
    padding-left: 5px;
}

.login button {
    border: 2px solid white;
    padding: 12px 12px 12px 12px;
    border-radius: 10px;
}

.login .signup-button {
    background-color: orangered;
    font-weight: bold;
}

.login .signup-button a {
    text-decoration: none;
    color: white;
}

.login .signup-button:hover {
    background-color: #4eca4e;
    transition: 0.2s ease-in-out;
}

.login .login-button {
    background-color: #4eca4e;
    color: white;
    font-weight: bold;
}

.login .login-button:hover {
    background-color: orangered;
    transition: 0.2s ease-in-out;
}
.login .button-login {
    letter-spacing: 15px;
}

.login .button-login input {
    border: 2px solid white;
    background-color: dodgerblue;
    color: white;
    font-size: 12px;
    font-family: Verdana;
    font-weight: bold;
    border-radius: 10px;
    height: 50px;
}

.login .button-login input:hover {
    background-color: #4eca4e;
    transition: 0.2s ease-in-out;
    opacity: 1;
}




/*FOOTER*/
.footer {background-color: palegreen;}
.footer .menu {
    padding-top: 60px;
    padding-bottom: 50px;

}

.footer .menu .nav-item1 {
    list-style: none;
    padding-bottom: 5px;
    font-family: Verdana;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 0.9em;
    line-height: 20px;
}

.footer .menu .nav-item1 a {color: #656565;}
.footer .menu p {
    border-bottom: 1px solid #65656594;
    padding-bottom: 10px;
    color: #656565;
    font-family: Verdana;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 1.1em;
}

.footer .menu .nav-item1 i {
    cursor: pointer;
    font-size: 25px;
}

.footer .menu .nav-item1 i:hover {
    text-decoration: underline;
}

.footer .menu h4 {font-size: 12px;}
.footer .menu h5 {font-size: 11px;}
.footer .menu .nav-item2 {
    display: inline;
    padding-left: 10px;
}

.footer .menu .nav-item2 img {
    width: 10%;
    height: 5%;
}

.footer .menu .mother {
    padding-bottom: 10px;
    padding-left: 0;
}

.footer .menu .nav-item2 img:hover {
    opacity: 0.5;
    transition: 0.5s ease;
};

.footer .menu .second {padding: 0;}
.footer .menu .first {padding-left: 0;}